.edit_error_class {
  display: block;
  color: red;
}

body a
{
    text-decoration: none;
    color: #61CDF5;
    font-weight: bold;
}

.menu
{
    position:absolute;
    right: 50px;
    margin:0;
    padding:0;
    text-align: bottom;
    height: 20px;
    z-index : 1000;
}

.menu ul
{
    margin: 0;
}

.menu li
{
    display: inline-block;
    width: 5em;
    background: #333;
    color: #ccc;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;

    padding: 20px 0 4px 0 ;
}

#close
{
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 1em;
    float: right;
    cursor: pointer;
}

#place
{
    position: absolute;
    top: 2em;
}

.content
{
    height: 100%
}

.filler
{
    height: 100%;
    width: 100%;

}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map
{
    height: 100%;
}


div[placeId]
{
    width: 5em;
    margin: 5px;
}

#dialog #lat, #dialog #lon
{
    width: 45%;
    display: inline-block;
}

#dialog #posisjon
{
    display: block;
}

#dialog
{
    background: white;
}

.panel
{
    position: absolute;
    z-index: 1000;

    background: white;

    border: 1px solid black;
    padding: 15px;
}

.top
{

    top: 44px;
}

.absolute-top
{
    top:0px;
}

.right
{
    right: 50px;
}

.left
{
    left: 0;
}

.name
{
    font-size: 1.4em;
    font-weight: bold;
}

.comment
{
    padding: 3px 0 3px 0;
}

.position
{
    font-size: .9em;
    color: #ccc
}

.position-part
{
    display: inline-block
}

.places
{
    width: 145px;
}