.edit_error_class {
  display: block;
  color: red;
}

body a
{
    text-decoration: none;
    color: #61CDF5;
    font-weight: bold;
}

.menu li
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 5em;
    background: #333;
    color: #ccc;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

.menu
{
    position:absolute;
    top:0px;
    right: 100px;
    margin:0;
    padding:0;
    text-align: top;
}

.places
{
    height: 10%
}

#place
{
    position: absolute;
    top: 2em;
}

.content
{
    height: 100%
}

.filler
{
    height: 100%;
    width: 100%;

}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map
{
    height: 90%;
}


div[placeId]
{
    display:inline-block;
    width: 5em;
    border:1px black solid;
    padding: 2px;
    margin: 5px;

    text-align: center;
}

#dialog #lat, #dialog #lon
{
    width: 45%;
    display: inline-block;
}

#dialog #posisjon
{
    display: block;
}

#dialog
{
    background: white;
}